@model IEnumerable<Race>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @* - Loop our card - *@
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="@item.Image" class="bd-placeholder-img card-img-top" role="img" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">@item.Title</p>
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @*We pass ID like (asp-route-id="item.id") to our control parameter*@
                                    <a asp-controller="Race" asp-action="Detail" asp-route-id="@item.Id" type="btn btn-sucess" class="btn btn-sm btn-outline-info">View</a>
                                    <a asp-controller="Race" asp-action="Edit" asp-route-id="@item.Id" type="btn btn-sucess" class="btn btn-sm btn-outline-success">Edit</a>
                                   
                                </div>
                                <small class="text-muted">@item.RaceCategory</small>
                            </div>
                        </div>
                    </div>
                </div>
            }@* - End Loop our card - *@

        </div>
    </div>
</div>
